<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<style>
	* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.login {
  width: 320px;
  height: 450px;
  border: 1px solid #CCC;
  background-image: url('./../../../../assets/img/avatars/m3.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
.login .form h2 {
  color: #FFF;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
  
  background-color: transparent;
  border-bottom: 2px solid white;
}
.login .form input:focus {
  border: 1px solid rgba(255,255,255,.8);
  outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.login .form input.submit {
  /* background: rgba(255,255,255,.9);
   */
   background-color:#c70202;
  color: white;
  font-size: 15px;
  margin-top: 50px;
  font-weight: bold;
}
.login .form button {
  /* background: rgba(255,255,255,.9);
   */
  background-color:#c70202;
   
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
  width: 100%;
  height: 35px;
  margin-top: 50px; 
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
h2{
	text-shadow:2px 5px  #c70202;
}
</style>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center" style="background-repeat:no-repeat; background-image:url(./../../../../assets/img/avatars/m3.jpg); background-size:cover;">
	<c-container>
<div class="login">
	<div class="form">
	  <!-- <h2>Mechanic F<i class="fa fa-search"></i>nder</h2>
	 -->
	 
	 <h2><img src="./../../../../assets/img/mechanic.png" style="width:200px"></h2>
	 <P  class="text-center" style="color:white; text-decoration-color: red;"><b>Sign In</b></P>
    
	 <i class="fa fa-mail"></i><input type="text" placeholder="Username">
	 <i class="fa fa-key"></i><input type="password" placeholder="Password">
		  
	  <button type="submit"  class="submit text-cener">Sign In</button>
	
	   
		<p class="text-center" style="color:white; font-size: small; margin-top:20px; ">
		<a src="#" ><b>Forgot Password</b></a><br>Don't Have An Account?<a src="#" style="color: #c70202;"><b> Register</b></a></p>

	</div>
  </div>
  </c-container>
  </div>