<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<!-- <nav id="mainNavbar" class="position-relative navbar navbar-expand-lg navbar-dark  " style="background-color: #3399FF; border-bottom:1px solid #B51f1f; position: sticky;">
  <a class="navbar-brand" routerLink="/landing"><img src="./../../../assets/img/avatars/mf.png" style="max-width:50%; height:auto;" ></a>
  <button style="background-color: #B51f1f; position: absolute" class="navbar-toggler poition-absolute top-0 end-0" type="button" data-toggle="collapse"
     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation"
     (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    
    <ul class="navbar-nav mr-auto poition-absolute top-0 end-0" >
      <li class="nav-item active">
        <a class="nav-link font-effect-sofia" routerLink="/landingx">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" tabindex="-1" aria-disabled="true">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" tabindex="-1" aria-disabled="true">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="bg-light min-vh-100 d-flex flex-row align-items-center" style="background-repeat:no-repeat; background-image:url(./../../../../assets/img/avatars/m33.jpg); background-size:cover;">
	<c-container>
<div class="login" style="padding-bottom: 45%;">
	<div class="form">
	  <!-- <h2>Mechanic F<i class="fa fa-search"></i>nder</h2>
	 -->
	 
	 <h2><img src="./../../../../assets/img/avatars/spanner.png" style="width:100px" height="100px" ></h2>
	 <P  class="text-center" style="color:white; text-decoration-color: red;"><b>Sign In</b></P>
    
	 <i class="fa fa-mail"></i><input type="text" placeholder="Username">
	 <i class="fa fa-key"></i><input type="password" placeholder="Password">
   
		<p class="text-center" style="color:white; font-size: small; margin-top: 10%;">
      <a routerLink="/" ><b>Forgot Password</b></a><br>Don't Have An Account?<a routerLink="/register" style="color: #c70202;"><b> Register</b></a></p>
		  
	  <button type="submit"  class="submit text-cener btn btn-small" style="margin-top: -0%; ">Sign In</button>
    <p style="text-align: center;"><a routerLink="/landingx"  ><b>Back</b></a></p> 
	
	   

	</div>
  </div>
  </c-container>
  </div>